@model IEnumerable<Martin_MIS4200_940.Models.Student>

@{
    ViewBag.Title = "Student List";
}

<div class="well"><h2>Student List <span class="glyphicon glyphicon-hand-up"></span></h2></div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fullName)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fullName)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.studentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.studentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.studentID })
        </td>
    </tr>
}

</table>
