@model Martin_MIS4200_940.Models.Grade

@{
    ViewBag.Title = "Details";
}

<h2>Details of Grades</h2>

<div>
    <h4>Grade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseDetail.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseDetail.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.letterGrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.letterGrade)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.gradeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
